body {
    font-family: Arial, sans-serif;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Add padding to body */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}



div .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

div .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin-left: auto;
}

.container .brand-text {
    margin-right: auto; /* Push the h2 to the far left */
    padding: 20px 20px;
}


@media (max-width: 768px) {
    .container {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

.container-column {
    width: 100%;
    display: flex;
    position: relative;
}

.container-column .sidebar{
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    border-radius: 10px;
}

.sidebar .head{
    display: flex;
    gap: 20px;
    padding-bottom: 0%;
    border-bottom: 1px solid #f6f6f6;
}

.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.user-details {
    position: relative;
    flex: 1;
    flex-direction: column;
    bottom: 0;
    left: 0;
}

.user-img img{
    width: 100%;
    object-fit: cover;
}

.user-details .name{
    font-size: 10px;
    
    font-weight: 500;
    color: black;
}

.user-details .followers{
    font-size: 10px;
    font-weight: 100;
}

.log-out {
    margin-top: auto;
    margin-right: auto;
    margin-left: 10px;
    margin-bottom: 10px;
}


.logout-button {
    padding: 10px 10px;
    background-color: #ff0000;
    color: #ffffff; 
    text-decoration: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #cc0000;
}

.container-column-two {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
    position: relative;
     
}