.footer-content h3{
    font-family: "Pacifico", sans-serif;
    font-size: 1.5em;
    color: black;
    user-select: none;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}