
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    /* background: url(../images/wallhaven-l8rx3p_3840x2160.png) no-repeat;*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    left: 0;
    padding: 20ox 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.brand-text {
    font-family: "Pacifico", sans-serif;
    font-size: 2em;
    color: black;
    user-select: none;
}

.navbar-opacity {
    background-color: rgba(255, 255, 255, 0); /* Adjust the alpha value (0.5 in this case) to control opacity */
  }

.wrapper {
    text-align: center;
    margin-top: 20vh; /* Adjust as needed */
    display: flex;
    justify-content: center; /* Center horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
}

.login {
    margin-top: 40vh;
}