{% extends "base.html" %}
{% block navbar %}

{% endblock%}

{% block page%}
<div class="wrapper">
    <div class="form-box login">
    <h2>Welcome to SyncGroove</h2>
    <h2>It is a web application that utilizes Spotify API to allow you to save your discover weekly playlist without repetition, view you playlists, and your top artists in the last six months</h2>
    <h2>To continue, grant the Application Permission</h2>
    <button class="btn" onclick="window.location.href='{{ url_for('login') }}'">Click Me!</button>
    </div>
</div>
{% endblock%}

{% block footer%}
 
{% endblock%}